<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:line-height="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title></title>

</head>
<body >
<div th:fragment="footer">
    <div class="container-fluid" style="background-color: black">
        <div class="p-3 text-white">
        <footer>
            <span sec:authorize = "isAuthenticated()">
                <span sec:authentication="name"></span>
                with roles
                <span sec:authentication="principal.authorities"></span>
                <span style="background-color: black; color: white; line-height: normal ;position: absolute; text-align: right; right: 6px"><a href="/logout">Sign out</a></span>
            </span>
        </footer>
        </div>
    </div>
</div>
<div class = "container-fluid" >
    <div class = "row ">
        <div class="col-md-2" style="min-height:1200px; height: auto; background-color: white">
            <ul class="nav flex-column nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/admin/adminPageInfo}">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Admin</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" style="min-height:1200px; height: auto; background-color: #e4fffa">
            <h2>Admin Panel</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#AllUsers" role="tab" aria-controls="home" aria-selected="true">All users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="modal" href = "#newUser" role="tab" aria-controls="profile" aria-selected="false">New user</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="AllUsers" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container" >
                        <div class = "card">
                    <div class = "card-block">
                        <table class="table table-hover">
                            <div>All users</div>
                            <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>email</th>
                            <th>password</th>
                            <th>roles</th>
                            </thead>
                            <tbody  id = "userTable">

                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="newUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserLabel"> add user </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id = "userForm">
                    <input class="form-control" id="username" type="text" placeholder="username"><br>
                    <input class="form-control" id="lastname" type="text" placeholder="lastname"><br>
                    <input class="form-control" id="email" type="text" placeholder="email"><br>
                    <input class="form-control" id="password" type="text" placeholder="password"><br>
                    <select class="form-control" id="role" name="role" >
                        <option value= 1>ADMIN</option>
                        <option value = 2>USER</option>
                    </select>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary mb-2" type="button" id="addNewUserButton">Add new user</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">modal-title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script>

    $(async function () {
        await getTableWithUsers();
        getNewUserForm();
        getDefaultModal();
        addNewUser();
    })


    const userFetchService = {
        head: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Referer': null
        },
        // bodyAdd : async function(user) {return {'method': 'POST', 'headers': this.head, 'body': user}},
        findAllUsers: async () => await fetch('http://localhost:8080/admin/userList'),
        findOneUser: async (id) => await fetch(`http://localhost:8080/admin/findOne/${id}`),
        addNewUser: async (user) => await fetch('http://localhost:8080/admin/add', {method: 'POST', headers: userFetchService.head, body: JSON.stringify(user)}),
        updateUser: async (user) => await fetch(`http://localhost:8080/admin/edit`, {method: 'PUT', headers: userFetchService.head, body: JSON.stringify(user)}),
        deleteUser: async (id) => await fetch(`http://localhost:8080/admin/delete/${id}`, {method: 'DELETE', headers: userFetchService.head})
    }
    async function getTableWithUsers() {
        let table = $('#userTable');
        table.empty();
        let number = 1;
        console.log(table)

        await userFetchService.findAllUsers()
            .then(res => res.json())
            .then(users => {
                users.forEach(user => {
                    let tableFilling = `$(
                        <tr id = ${number++}>
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.lastname}</td>
                            <td>${user.email}</td>
                            <td>${user.password}</td>
                            <td>${user.authorities.map(e => e.authority)}</td>
                            <td>
                                <button type="button" data-userid="${user.id}" data-action="edit" class="btn btn-primary"
                                data-toggle="modal" data-target="#myModal">Edit</button>
                            </td>
                            <td>
                                <button type="button" data-userid="${user.id}" data-action="delete" class="btn btn-danger"
                                data-toggle="modal" data-target="#myModal">Delete</button>
                            </td>
                        </tr>
                )`;
                    table.append(tableFilling);
                })
            })
        $("#userTable").find('button').on('click',(event)=>{
            let modal = $('#myModal');
            let button = $(event.target);
            let buttonUserId = button.attr('data-userid');
            let buttonAction = button.attr('data-action');
            modal.attr('data-userid', buttonUserId);
            modal.attr('data-action', buttonAction);
            modal.modal('show');
        })
    }

    async function getModal(){
        $('#myModal').modal({
            keyboard: true,
            backdrop: "static",
            show: false
        }).on("show.bs.modal", (event) =>{
            let thisModal = $(event.target);
            let userid = thisModal.attr('data-userid');
            let action = thisModal.attr('data-action');

            switch (action){
                case 'edit':
                    editUser(thisModal, userid);
                    break;
                case 'delete' :
                    deleteUser(thisModal, userid);
                    break;
            }
        }).on("hidden.bs.modal", (e) =>{
            let thisModal = $(e.target);
            thisModal.find('.modal-title').html("");
            thisModal.find('.modal-body').html("");
            thisModal.find('.modal-footer').html("");
        })
    }

    async function editUser(modal, id){
        let preUser = await userFetchService.findOneUser(id);
        let user = preUser.json();
        modal.find('.modal-title').html('Edit user');

        //
        let editBtn = `<button  class = "btn btn-primary" id = "editBtn" >save</button>`;
        let  closeBtn = `<button type="button" class = "btn btn-danger" id = "closeBtn" data-dismiss="modal">close</button>`;

        modal.find('.modal-footer').append(editBtn);
        modal.find('.modal-footer').append(closeBtn);


        user.then(user => {
            let bodyForm = `
            <form class="form-group" id="editUser">
                <a >id</a>
                <input  type="text" class="form-control" id="id" name="id" value="${user.id}" disabled><br>
                <a>Username</a>
                <input class="form-control" type="text" id="username" value="${user.username}"><br>
                <a>Lastname</a>
                <input class="form-control" type="text" id="lastname" value="${user.lastname}"><br>
                <a>Email</a>
                <input class="form-control" type="text" id="email" value="${user.email}"><br>
                <a>Password</a>
                <input class="form-control" type="text" id="password" value="${user.password}"><br>
                <select class="form-control" id="role" name="role" >
                        <option value= 1>ADMIN</option>
                        <option value = 2>USER</option>
                </select>

            </form>
        `;
            modal.find('.modal-body').append(bodyForm);
        })


        $("#editBtn").on('click', async ()=>{
            let id = modal.find("#id").val().trim();
            let username = modal.find("#username").val().trim();
            let lastname = modal.find("#lastname").val().trim();
            let email = modal.find("#email").val().trim();
            let password = modal.find("#password").val().trim();
            let role = modal.find('#role').val().trim();
            let roles;
            if (role == 1){
                roles = [{"id":1,"role":"ROLE_ADMIN","authority":"ROLE_ADMIN"}];
            } else {
                roles = [{"id":2,"role":"ROLE_USER","authority":"ROLE_USER"}];
            }

            let data = {
                id: id,
                username: username,
                lastname: lastname,
                email: email,
                password: password,
                roles: roles,
            }

            const response = await userFetchService.updateUser(data);

            if(response.ok){
                getTableWithUsers();
                modal.modal('hide');
            } else{
                let body = await response.json();
                let alert = `<div class = "alert alert-danger alert-dismissible fade show col-12" role="alert" id = "errorMessage">
                            ${body.info}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>`;
                modal.find('.modal-body').prepend(alert);
            }

        })

    }
    async function deleteUser(modal, id) {
        let preUser = await userFetchService.findOneUser(id);
        let user = preUser.json();
        modal.find('.modal-title').html('Delete user');

        //
        let deleteBtn = `<button  class = "btn btn-primary" id = "deleteBtn" >delete</button>`;
        let  closeBtn = `<button type="button" class = "btn btn-danger" id = "closeBtn" data-dismiss="modal">close</button>`;

        modal.find('.modal-footer').append(deleteBtn);
        modal.find('.modal-footer').append(closeBtn);

        user.then(user => {
            let bodyForm = `
            <form class="form-group" id="editUser">
                <a>id</a>
                <output type="text" class="form-control" id="id" name="id" disabled>${user.id}</output><br>
                <a>Username</a>
                <output class="form-control" type="text" id="username" >${user.username}</output><br>
                <a>Lastname</a>
                <output class="form-control" type="text" id="lastname" >${user.lastname}</output><br>
                <a>Email</a>
                <output class="form-control" type="text" id="email" >${user.email}</output><br>
                <a>Password</a>
                <output class="form-control" type="text" id="password" >${user.password}</output><br>
                <a>Roles</a>
                <output class="form-control" type="text" id="roles" >${user.roles.map(e=>e.role)}</output><br>

            </form>
        `;
            modal.find('.modal-body').append(bodyForm);
        })

        $('#deleteBtn').on('click',async () =>{
            await userFetchService.deleteUser(id);
            modal.modal('hide');
            await getTableWithUsers();
        })

    }
    async function addUser(){

            $('#newUser').find('#addNewUserButton').on('click',async ()=>{
                let roles;
                let addForm = $('#userForm');
                let username = addForm.find('#username').val().trim();
                let lastname = addForm.find('#lastname').val().trim();
                let email = addForm.find('#email').val().trim();
                let password = addForm.find('#password').val().trim();
                let role = addForm.find('#role').val().trim();
                if (role == 1){
                    roles = [{"id":1,"role":"ROLE_ADMIN","authority":"ROLE_ADMIN"}];
                } else {
                    roles = [{"id":2,"role":"ROLE_USER","authority":"ROLE_USER"}];
                }
                console.log(roles)


                const data = {
                    username: username,
                    lastname: lastname,
                    email: email,
                    password: password,
                    roles: roles,
                }
                console.log(data)
                let response = await userFetchService.addNewUser(data);
                if (response.ok) {
                    await getTableWithUsers();
                    addForm.find('#username').val('');
                    addForm.find('#lastname').val('');
                    addForm.find('#email').val('');
                    addForm.find('#password').val('');
                    $('#newUser').modal('hide');
                }
            });
    }

    getTableWithUsers();
    getModal();
    addUser();

</script>
</body>
</html>